{%- if pagespeed is defined and pagespeed is mapping %}
{% from "nginx/lib.sls" import configurable %}
  # Start configure pagespeed for vhost
  pagespeed {{ 'on' if pagespeed.enable|default(true) else 'off' }};

  # Needs to exist and be writable by nginx.  Use tmpfs for best performance.
  pagespeed FileCachePath {{ pagespeed.file_cache_path|default('/var/ngx_pagespeed_cache') }};

  # Ensure requests for pagespeed optimized resources go to the pagespeed handler
  # and no extraneous headers get set.
  location ~ "\.pagespeed\.([a-z]\.)?[a-z]{2}\.[^.]{10}\.[^.]+" {
    add_header "" "";
  }
  location ~ "^/pagespeed_static/" { }
  location ~ "^/ngx_pagespeed_beacon$" { }
{%- endif %}
