## File managed by Salt.
## Source: {{ source }}
server {
  # Listen non-SSL
  {%- if listen_ip is defined %}
  {%- set listen_ip = listen_ip ~ ':' %}
  {%- endif %}
  listen {{ listen_ip|default('') }}{{ listen_port|default('80') }}{{ ' default_server' if default_server|default(False) else '' }};

  {%- include 'nginx/templates/_ssl.jinja' %}
  {%- include 'nginx/templates/_gzip.jinja' %}
  {%- include 'nginx/templates/_pagespeed.jinja' %}

  # Enable XSS filter in modern webbrowsers
  add_header X-XSS-Protection "1; mode=block";

  {%- if redirect_to_www is defined and redirect_to_www == True %}
  # non-www to www redirect
  if ($http_host !~* ^www\.)
  {
  	return 301 $scheme://www.{{ domain }}$request_uri;
  }
  {% elif redirect_from_www is defined and redirect_from_www == True %}
  # www to non-www redirect
  if ($http_host ~* "^www\.(.+)$"){
    return 301 $scheme://{{ domain }}$request_uri;
  }
  {%- endif %}

  # Webroot
  root {{ webroot }};
  server_name {{ domain }} www.{{ domain }} {{ aliases|default([])|join(" ") }};

  {{ before_location_config|default([])|join("\n")|indent(2) }}

  location / {
      try_files {{ try_files|default('$uri $uri/ /index.php?$args') }};
      {{ extra_location_config|default([])|join("\n")|indent(4) }}
  }

  {%- if logdir is defined %}
  access_log {{ logdir }}/{{ domain }}_access.log;
  error_log {{ logdir }}/{{ domain }}_error.log;
  {%- endif %}

  # Upload limit
  client_max_body_size 50m;
  client_body_buffer_size 128k;

  index {{ index|default('index.php') }};

  {% if php|default(true) -%}
  # Handle PHP
  location ~ \.php$ {
      {%- if fastcgi_pass is defined %}
      # Using the configured parameter
      {%- set fastcgi_pass = fastcgi_pass %}
      {%- else %}
      # Use the local socket
      {%- set fastcgi_pass = 'unix:' ~ fpm_sock_dir|default('/var/run') ~ '/fpm_' ~ domain_safe ~ '.sock' %}
      {%- endif %}

      fastcgi_pass {{ fastcgi_pass }};
      fastcgi_index {{ fastcgi_index|default('index.php') }};

      # Increase default buffers
      fastcgi_buffer_size 128k;
      fastcgi_buffers 4 256k;
      fastcgi_busy_buffers_size 256k;

      # Unset the HTTP_PROXY upstream header to prevent httpoxy
      fastcgi_param HTTP_PROXY "";

      # Include params
      include fastcgi_params;
      {{ fastcgi_params|default([])|join("\n")|indent(3) }}
  }
  {%- endif %}

  # deny access to .htaccess files, if Apache's document root
  # concurs with nginx's one
  #
  location ~ /\.ht {
      deny all;
  }
  {{ extra_config|default([])|join("\n")|indent(2) }}
}
