## File managed by Salt.
## Source: {{ source }}
server {
  # Listen non-SSL
  {%- if listen_ip is defined %}
  {%- set listen_ip = listen_ip ~ ':' %}
  {%- endif %}
  listen {{ listen_ip|default('') }}{{ listen_port|default('80') }}{{ ' default_server' if default_server|default(False) else '' }};

  {% include './_ssl.jinja' %}

  server_name {{ domain }} www.{{ domain }} {{ aliases|default([])|join(" ") -}};
  location / {
{%- if limit_ips is defined %}
    # Only allow access from given IP/IP's or subnets.
{%- for ip in limit_ips %}
    allow {{ ip }};
{%- endfor %}
    deny all;
{%- endif %}

    # Proxy
    client_max_body_size 100M;
    proxy_pass {{ proxy_pass }};
    proxy_next_upstream error timeout invalid_header http_500 http_502 http_503 http_504;
    proxy_redirect off;
    proxy_buffering off;
    proxy_set_header        Proxy           "";
    proxy_set_header        Host            $host;
    proxy_set_header        X-Real-IP       $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
  }

}
