## File managed by Salt.
## Source: {{ source }}
server {
  # Listen non-SSL
  {%- if listen_ip is defined %}
  {%- set listen_ip = listen_ip ~ ':' %}
  {%- endif %}
  listen {{ listen_ip|default('') }}{{ listen_port|default('80') }}{{ ' default_server' if default_server|default(False) else '' }};

  {% include 'nginx/templates/_ssl.jinja' %}

  server_name {{ domain }} www.{{ domain }} {{ aliases|default([])|join(" ") -}};
  return {{redirect_code|default('301')}} {{redirect_to}};
}
