nginx:
  # Nginx config
  config:
    # Remove existing configs
    cleanup: True

    # Generate sites-available/sites-enabled structure
    sites_enabled: True

    # Install security.conf which adds default security features to NGINX
    security: True

    # Whether to generate DHparam file with 4096 bits for added security
    dhparam: False

    # Resolvers to use with NGINX for SSL Stapling
    resolvers:
      - 8.8.8.8
      - 8.8.4.4

    # Extra configs to add to nginx
    extra_config:
      - '# Increase resolver timeout'
      - 'resolver_timeout 35s;'
      - |
        # Allow bigger URI paths and headers
        client_header_buffer_size 128k;
        large_client_header_buffers 16 1024k;

  # Install a placeholder as default vhost
  #placeholder:
  #  install: True
  #  template: 'salt://web/templates/placeholder.html.jinja'
  #  template_type: jinja
  #  config_template: 'salt://nginx/templates/default.conf.jinja'

  #  # SSL for placeholder. The certificate/key is not being managed by this formula.
  #  enable_ssl: True
  #  ssl_certificate: 'wildcard.example.com.crt'
  #  ssl_key: 'wildcard.example.com.key'

  # Package specific configuration
  package:
    # Use the mainline ('unstable') build of NGINX
    mainline: False
